<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mouse.blog.dao.ArticleMapper" >
  <resultMap id="BaseResultMap" type="com.mouse.blog.model.Article" >
    <id column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="article_name" property="articleName" jdbcType="VARCHAR" />
    <result column="article_time" property="articleTime" jdbcType="INTEGER" />
    <result column="article_ip" property="articleIp" jdbcType="VARCHAR" />
    <result column="article_click" property="articleClick" jdbcType="INTEGER" />
    <result column="sort_article_id" property="sortArticleId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type_id" property="typeId" jdbcType="TINYINT" />
    <result column="article_type" property="articleType" jdbcType="INTEGER" />
    <result column="article_up" property="articleUp" jdbcType="TINYINT" />
    <result column="article_support" property="articleSupport" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mouse.blog.model.Article" extends="BaseResultMap" >
    <result column="article_content" property="articleContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    article_id, article_name, article_time, article_ip, article_click, sort_article_id, 
    user_id, type_id, article_type, article_up, article_support
  </sql>
  <sql id="Blob_Column_List" >
    article_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from article
    where article_id = #{articleId,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="com.mouse.blog.model.Article" >
    insert into article (article_id, article_name, article_time, 
      article_ip, article_click, sort_article_id, 
      user_id, type_id, article_type, 
      article_up, article_support, article_content
      )
    values (#{articleId,jdbcType=SMALLINT}, #{articleName,jdbcType=VARCHAR}, #{articleTime,jdbcType=INTEGER}, 
      #{articleIp,jdbcType=VARCHAR}, #{articleClick,jdbcType=INTEGER}, #{sortArticleId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{typeId,jdbcType=TINYINT}, #{articleType,jdbcType=INTEGER}, 
      #{articleUp,jdbcType=TINYINT}, #{articleSupport,jdbcType=TINYINT}, #{articleContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mouse.blog.model.Article" >
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="articleName != null" >
        article_name,
      </if>
      <if test="articleTime != null" >
        article_time,
      </if>
      <if test="articleIp != null" >
        article_ip,
      </if>
      <if test="articleClick != null" >
        article_click,
      </if>
      <if test="sortArticleId != null" >
        sort_article_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="typeId != null" >
        type_id,
      </if>
      <if test="articleType != null" >
        article_type,
      </if>
      <if test="articleUp != null" >
        article_up,
      </if>
      <if test="articleSupport != null" >
        article_support,
      </if>
      <if test="articleContent != null" >
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleId != null" >
        #{articleId,jdbcType=SMALLINT},
      </if>
      <if test="articleName != null" >
        #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null" >
        #{articleTime,jdbcType=INTEGER},
      </if>
      <if test="articleIp != null" >
        #{articleIp,jdbcType=VARCHAR},
      </if>
      <if test="articleClick != null" >
        #{articleClick,jdbcType=INTEGER},
      </if>
      <if test="sortArticleId != null" >
        #{sortArticleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=TINYINT},
      </if>
      <if test="articleType != null" >
        #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleUp != null" >
        #{articleUp,jdbcType=TINYINT},
      </if>
      <if test="articleSupport != null" >
        #{articleSupport,jdbcType=TINYINT},
      </if>
      <if test="articleContent != null" >
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mouse.blog.model.Article" >
    update article
    <set >
      <if test="articleName != null" >
        article_name = #{articleName,jdbcType=VARCHAR},
      </if>
      <if test="articleTime != null" >
        article_time = #{articleTime,jdbcType=INTEGER},
      </if>
      <if test="articleIp != null" >
        article_ip = #{articleIp,jdbcType=VARCHAR},
      </if>
      <if test="articleClick != null" >
        article_click = #{articleClick,jdbcType=INTEGER},
      </if>
      <if test="sortArticleId != null" >
        sort_article_id = #{sortArticleId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        type_id = #{typeId,jdbcType=TINYINT},
      </if>
      <if test="articleType != null" >
        article_type = #{articleType,jdbcType=INTEGER},
      </if>
      <if test="articleUp != null" >
        article_up = #{articleUp,jdbcType=TINYINT},
      </if>
      <if test="articleSupport != null" >
        article_support = #{articleSupport,jdbcType=TINYINT},
      </if>
      <if test="articleContent != null" >
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mouse.blog.model.Article" >
    update article
    set article_name = #{articleName,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=INTEGER},
      article_ip = #{articleIp,jdbcType=VARCHAR},
      article_click = #{articleClick,jdbcType=INTEGER},
      sort_article_id = #{sortArticleId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=TINYINT},
      article_type = #{articleType,jdbcType=INTEGER},
      article_up = #{articleUp,jdbcType=TINYINT},
      article_support = #{articleSupport,jdbcType=TINYINT},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mouse.blog.model.Article" >
    update article
    set article_name = #{articleName,jdbcType=VARCHAR},
      article_time = #{articleTime,jdbcType=INTEGER},
      article_ip = #{articleIp,jdbcType=VARCHAR},
      article_click = #{articleClick,jdbcType=INTEGER},
      sort_article_id = #{sortArticleId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      type_id = #{typeId,jdbcType=TINYINT},
      article_type = #{articleType,jdbcType=INTEGER},
      article_up = #{articleUp,jdbcType=TINYINT},
      article_support = #{articleSupport,jdbcType=TINYINT}
    where article_id = #{articleId,jdbcType=SMALLINT}
  </update>

  <select id="selectByArticleNameOrContent" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT * from article
    <where>
      <if test="searchContent != null and searchContent!= ''">
        AND  article_name LIKE concat ('%',#{searchContent,jdbcType=VARCHAR},'%') OR article_content LIKE concat ('%',#{searchContent},'%')
      </if>
    </where>
  </select>

</mapper>